---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Piano</h1>

    <blockquote>
        <p>🎹</p>
    </blockquote>

    <p>
        Sorry, the piano page hasn't been written yet... Disappointing, I know. 
    </p>
</Layout>
