---

---
<blockquote class="tagline pt-0 mt-0"> 
	<p class="pt-0 mt-0">
		🛠️&nbsp;Software&nbsp;Engineering&nbsp;| 🏢&nbsp;Solution&nbsp;Architecture&nbsp;| 🎹&nbsp;Piano&nbsp;😺&nbsp;|
	</p>
</blockquote>

<h1>
	Recent Articles
</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-5">  

  <div class="rounded-lg flex flex-col overflow-hidden shadow-lg dark:shadow-xl dark:bg-cyan-950 bg-white border-2 border-cyan-400">
    <div class="px-6 flex-grow">
      <h3 class="font-bold text-xl mb-2 mt-4 not-prose text-cyan-600 dark:text-cyan-500 hover:text-cyan-400 transition">
        <a href="/articles/blazor-maze-simple/index.html" class="underline">Blazor Maze Simple</a>
      </h3>
      <p class="text-cyan-600 text-base prose">
        <a href="/articles/blazor-maze-simple/index.html" class="no-underline hover:underline dark:text-cyan-50">
          Hacky little maze generator in 80 lines of C# / Blazor, and a bit of CSS-Grid / Tailwind.
        </a>
      </p>
    </div>
    <div class="px-6 py-2">
      <span class="inline-block bg-orange-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">C#</span>
      <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Blazor</span>
      <span class="inline-block bg-emerald-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#CSS-Grid</span>
    </div>
  </div>

  <div class="rounded-lg flex flex-col overflow-hidden shadow-lg dark:shadow-xl dark:bg-cyan-950 bg-white border-2 border-cyan-400">
    <div class="px-6 flex-grow">
      <h3 class="font-bold text-xl mb-2 mt-4 not-prose text-cyan-600 dark:text-cyan-500 hover:text-cyan-400 transition">
        <a href="/blog/ai200-questions-part-2" class="underline">AI-200 Practice Questions - Part&nbsp;2</a>
      </h3>
      <p class="text-cyan-600 text-base prose">
        <a href="/blog/ai200-questions-part-2" class="no-underline hover:underline dark:text-cyan-50">
          Some more multiple choice practice questions for Microsoft's AI-200 exam. 
        </a>
      </p>
    </div>
    <div class="px-6 py-2">
      <span class="inline-block bg-yellow-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Typescript</span>
      <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#React</span>
      <span class="inline-block bg-emerald-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#AI-200</span>
    </div>
  </div>

  <div class="rounded-lg flex flex-col overflow-hidden shadow-lg dark:shadow-xl dark:bg-cyan-950 bg-white border-2 border-cyan-400">
    <div class="px-6 flex-grow">
      <h3 class="font-bold text-xl mb-2 mt-4 not-prose text-cyan-600 dark:text-cyan-500 hover:text-cyan-400 transition">
        <a href="/articles/fsharp-fable-threejs-maze/index.html" class="underline">Three.js F# Maze</a>
      </h3>
      <p class="text-cyan-600 text-base prose">
        <a href="/articles/fsharp-fable-threejs-maze/index.html" class="no-underline hover:underline dark:text-cyan-50">
          Another little maze generator using Three.js and F#.
        </a>
      </p>
    </div>
    <div class="px-6 py-2">
      <span class="inline-block bg-amber-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">F#</span>
      <span class="inline-block bg-pink-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Three.js</span>
      <span class="inline-block bg-emerald-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Fable</span>
    </div>
  </div>  

  <div class="rounded-lg flex flex-col overflow-hidden shadow-lg dark:shadow-xl dark:bg-cyan-950 bg-white border-2 border-cyan-400">
    <div class="px-6 flex-grow">
      <h3 class="font-bold text-xl mb-2 mt-4 not-prose text-cyan-600 dark:text-cyan-500 hover:text-cyan-400 transition">
        <a href="/blog/ubuntu-syslog-spam" class="underline">Ubuntu Syslog Spam</a>
      </h3>
      <p class="text-cyan-600 text-base prose">
        <a href="/blog/ubuntu-syslog-spam" class="no-underline hover:underline dark:text-cyan-50">
          Solution for Ubuntu Update Notifier consuming all disk space with Syslogs.
        </a>
      </p>
    </div>
    <div class="px-6 py-2">
      <span class="inline-block bg-orange-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Shell</span>
      <span class="inline-block bg-fuchsia-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Ubuntu</span>
    </div>
  </div>

  <div class="rounded-lg flex flex-col overflow-hidden shadow-lg dark:shadow-xl dark:bg-cyan-950 bg-white border-2 border-cyan-400">
    <div class="px-6 flex-grow">
      <h3 class="font-bold text-xl mb-2 mt-4 not-prose text-cyan-600 dark:text-cyan-500 hover:text-cyan-400 transition">
        <a href="/blog/ai200-questions-part-1" class="underline">AI-200 Practice Questions - Part&nbsp;1</a>
      </h3>
      <p class="text-cyan-600 text-base prose">
        <a href="/blog/ai200-questions-part-1" class="no-underline hover:underline dark:text-cyan-50">
          Some practice questions that might help if you are studying for Microsoft's AI-200 exam.
        </a>
      </p>
    </div>
    <div class="px-6 py-2">
      <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#React</span>
      <span class="inline-block bg-yellow-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#Typescript</span>
      <span class="inline-block bg-emerald-500 rounded-full px-3 py-1 text-sm font-semibold text-gray-950 mr-2 mb-2">#AI-200</span>
    </div>
  </div>

</div>
