---
import astroLogo from '../assets/astro.svg';
---
	<h1>
		Andy Hutch - Tech Blog
	</h1>
	<a href="https://astro.build"
		><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
	>
