---
import Layout from '../../layouts/Layout.astro';
import Scene from '../../components/Scene.jsx';
export const published = new Date('2022-02-01');
---

<Layout>
<h1> Using React 3 Fibre + Astro</h1>
<Scene client:load />

Yet more other random stuff

<script crossorigin="anonymous" src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fcodehutch%2Fcoding-challenges%2Fblob%2Fmaster%2FAndyHutchinson%2FRobotWars%2FDirection.cs&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>

and more focussed:

<script crossorigin="anonymous" src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fcodehutch%2Fcoding-challenges%2Fblob%2Fmaster%2FAndyHutchinson%2FRobotWars%2FDirection.cs%3Fts%3D2%23L4-L12&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
</Layout>