@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about F#";
}

@using System.Linq

<ul>

@foreach (var post in Enumerable.Take(Model.Posts, 10000))
{
    <li><a href="blog/@post.Url/index.html">@post.Title</a></li>
}

</ul>