@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: "Cabin", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Oleo Script", cursive, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-vast-shadow: "Vast Shadow", "Oleo Script", cursive, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --breakpoint-hsm: 37rem;
}

@font-face { /* Load Vast Shadow again under an alias for colour trick on ^ accent */
  font-family: 'VastShadow3';
  src: url('/VastShadow3.woff2') format('woff2'),
       url('/VastShadow3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@utility prose-hutch {
  --tw-prose-body: var(--color-cyan-950);
  --tw-prose-invert-body: var(--color-white);  
  --tw-prose-headings: var(--color-cyan-600);
  --tw-prose-invert-headings: var(--color-cyan-500);  
  --tw-prose-quote-borders: var(--color-orange-500);
  --tw-prose-invert-quote-borders: var(--color-orange-500); 
  --tw-prose-links: var(--color-orange-600);
  --tw-prose-invert-links: var(--color-orange-500);
  --tw-prose-bullets: var(--color-orange-600);
  --tw-prose-invert-bullets: var(--color-orange-500);  
}

@layer base {

  * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  
  body {
    @apply flex min-h-svh flex-col text-sm md:text-base lg:text-lg;
  }

  p {
    @apply text-base lg:text-lg;
  }
  
  #name {
    @apply font-vast-shadow underline decoration-2 decoration-double underline-offset-5 underline text-4xl hsm:text-5xl;
  }

  #name #andy {
    @apply hidden hsm:inline;
  }

  button {
    @apply bg-cyan-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 border-b-4 border-r-3 hover:border-b-0 hover:border-r-0 hover:border-l-3 hover:border-t-4 border-cyan-700 hover:border-cyan-700 rounded;
  }

  .answerGroup button {
    @apply mr-2 mb-2 bg-pink-500 hover:bg-cyan-400 text-white font-bold py-2 px-4 border-b-4 border-r-3 hover:border-b-4 hover:border-r-3 hover:border-l-0 hover:border-t-0 border-cyan-700 hover:border-cyan-700 rounded;
  }

  button.answerCorrect {
    @apply bg-emerald-500 hover:bg-emerald-500 transition duration-300;
  }

  button.answerIncorrect {
    @apply bg-red-500 hover:bg-red-500 transition duration-300; 
  }

  .spin .answerGroup button.answerCorrect   { @apply rotate-360 }
  .spin .answerGroup button.answerIncorrect { @apply -rotate-180 }

  .slide .answerGroup button.answerCorrect   { @apply animate-bounce; animation-iteration-count: 2; }
  .slide .answerGroup button.answerIncorrect { @apply translate-x-1000 }

  .scale .answerGroup button.answerCorrect   { @apply scale-130 }
  .scale .answerGroup button.answerIncorrect { @apply scale-70 } 

  .skew .answerGroup button.answerCorrect   { @apply skew-150 }
  .skew .answerGroup button.answerIncorrect { @apply skew-20 }   

  .flip .answerGroup button.answerCorrect   { @apply rotate-y-360 }
  .flip .answerGroup button.answerIncorrect { @apply -rotate-y-360 }    

  .knock .answerGroup button.answerCorrect   { @apply rotate-x-360 }
  .knock .answerGroup button.answerIncorrect { @apply rotate-x-90 origin-bottom-left }    

  .drop .answerGroup button.answerCorrect   { @apply -rotate-45 origin-top-left }
  .drop .answerGroup button.answerIncorrect { @apply rotate-45 origin-bottom-left }    
  

  .never-used {
    color:  color-orange-500; /* stops colours being optimized out */
  }

  .menuPill {
    @apply items-center justify-center border font-sans font-medium text-center duration-100 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-base py-2 px-4 shadow-sm hover:shadow-md bg-orange-500 hover:bg-orange-400 border-stone-900 text-stone-50 rounded-full transition antialiased;
  }

  .footerPill {
    @apply rounded-full aspect-square border-cyan-500 items-center justify-center font-sans font-medium text-center duration-100 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-base py-2 px-4 rounded-full transition antialiased;
  }

}

@utility markdown-hutch {

  h1+blockquote p {
    @apply text-orange-500 font-mono not-italic font-bold;
  }

  h1+blockquote p::before {
    content: "🛠️ with ❤️ ++ | ";
  }

  h1+blockquote p::after {
    content: " |";
  }
 
  blockquote.tagline p {
    @apply text-orange-500 font-mono not-italic font-bold;
  }

  blockquote.tagline p::before {
    content: "";
  }

  blockquote.tagline p::after {
    content: "";
  }  

  code {
    background-color: var(--color-orange-500);
    padding-left: 0.15em;
    padding-right: 0.15em;    
  }  

  code::before, code::after {
    content: none;
  }

  pre code {
    background-color: inherit;
    padding-left: 0;
    padding-right: 0;
  }    

  code::before, code::after {
    content: none;
  }

}