@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about F#";
}

<h1>Progletariat</h1>

<h2>/ˌprəʊglɪˈtɛəriːət/ n. </h2>

<p>
    A term used to describe the class of wage-earners (especially programmers) in a
    capitalist society whose only possession of any perceived value is their labour-power (their ability to code).
</p>

<h2>About</h2>

<p>This is a blog about programming in F#</p>

<h2>Posts</h2>

<p><a href="/blog/index.html">Here they all aren't</p>