@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about F#";
}

@using System.Linq

<h2>

    <div class="definitionTerm">
		/ˌprəʊglɪˈtɛəriːət/ n.
	</div>
    <div class="definition">
	    <span class="definitionNumber">1.</span>
		A term used to describe the class of wage-earners in a capitalist society whose only skill
		of any perceived value is their ability to write computer programmes.
	</div>
    <div class="definition">
	    <span class="definitionNumber">2.</span>
		Those of us yet to attain functional righteousness (myself included).
	</div>
    <div class="definition">
	    <span class="definitionNumber">3.</span>
		Totally unrelated in any way to prog-rock.
	</div>

</h2>

<h5>

    Intended Purpose
	
</h5>

<p>	
	
	This blog is here to share some love for the particularly fine functional programming language, 
	<a href=http://www.fsharp.org>F#</a>
	
	
	C# / Java - like writing an essay.
	F# / Scala - like writing a poem / song lyrics (actually nothing like that, but quicker to get your point accross).
	             Mainly because the type-system is more flexible
	
	Trying to get better at drawing

	Go one paragraph. Have 2/3 text and 1/3 images, every paragraph. Use dave^2 image convertion to svg.

	Link on H1 to home.
	Link to blog source.
	
	Fix root domain forwarding. Delete and reapply.

	This needs finishing...
	
</p>

<h3>
	<em>Posts</em>
</h3>

<ul>

@foreach (var post in Enumerable.Take(Model.Posts, 10000))
{
    <li><a href="blog/@post.Url/index.html">@post.Title</a></li>
}

</ul>

<p>
	There's not much here yet.
</p>

