@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about F#";
}

<h1>Progletariat</h1>

<h2 class="fancy">/ˌprəʊglɪˈtɛəriːət/ n. </h2>

<p>
    A term used to describe the class of wage-earners (especially programmers) in a
    capitalist society whose only possession of any perceived value is their labour-power 
	(their ability to code).
</p>

<p>
	There's not much here yet.
</p>

<p>
    Proudly made in North Yorkshire, UK.
</p>

<h2>Posts</h2>

<p><a href="/blog/index.html">Here they all aren't</p>