@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about functional programming";
}

@using System.Linq

<h2>

    <div class="definitionTerm">
		/ˌprəʊglɪˈtɛəriːət/ n.
	</div>
    <div class="definition primaryDefinition">
	    <span class="definitionNumber">1.</span>
        Internationally renowned software artiste.
	</div>
    <div class="definition secondaryDefinition">
	    <span class="definitionNumber">2.</span>
		A term used to describe the class of wage-earners in a capitalist society whose only skill
		of any perceived value is their ability to create computer software.
	</div>

</h2>

    <!--

	TBD:

	- Favicon: Pg (different one on codehutch and progletariat - fix to same)
	- Update readme on codehutch to describe entire publishing process
    - Use dave^2 image convertion to svg.

    -->

<h3>
	<em>Recent Posts</em>
</h3>

<ul>

@foreach (var post in Enumerable.Take(Model.Posts, 10000))
{
    @if(post.Date < DateTime.Now)
	{
		<li><a href="blog/@post.Url/index.html">@post.Title.Replace("-", " ").Replace("multi functional", "Multifunctional:") - @post.Description</a></li>
	}
}

</ul>

<h4><em>Palettes</em></h4>

<div class="palette">

  <blockquote>
    <h2>Architecture</h2>
    <ul>
      <li>firstly</li>
      <li>secondly</li>
      <li>thirdly</li>
    </ul>
  </blockquote>

  <hr>

  <blockquote>
    <h2>Functional Programming</h2>
    <ul>
      <li>firstly</li>
      <li>secondly</li>
      <li>thirdly</li>
    </ul>
  </blockquote>

  <hr>

  <blockquote>
    <h2>Miscellaneous</h2>
    <ul>
      <li>firstly</li>
      <li>secondly</li>
      <li>thirdly</li>
    </ul>
  </blockquote>

  <hr>

</div>