@{
    Layout = "default";
    Title = "Progletariat";
    Description = "A blog mostly about functional programming";
}

@using System.Linq

<h2>

    <div class="definitionTerm">
		/ˌprəʊglɪˈtɛəriːət/ n.
	</div>
    <div class="definition">
	    <span class="definitionNumber">1.</span>
		A term used to describe the class of wage-earners in a capitalist society whose only skill
		of any perceived value is their ability to create computer software.
	</div>

</h2>

<p>
    There's not much here yet...

    <!--

	TBD:

	- Favicon: Pg (different one on codehutch and progletariat - fix to same)

	- Content for top section
    - Make more colourful index page
	- Sort out display of posts - bullet points look rubbish and aren't colourful
	- Update readme on codehutch to describe entire publishing process

    - Use dave^2 image convertion to svg.

    -->

</p>

<h3>
	<em>Posts</em>
</h3>

<ul>

@foreach (var post in Enumerable.Take(Model.Posts, 10000))
{
    @if(post.Date < DateTime.Now)
	{
		<li><a href="blog/@post.Url/index.html">@post.Title.Replace("-", " ").Replace("multi functional", "Multifunctional:") - @post.Description</a></li>
	}
}

</ul>



